<header class="site-header">
  <div class="site-header__inner">
    <%= link_to "MusicHub", root_path, class: "site-header__logo" %>

    <nav class="site-nav" aria-label="メインナビゲーション">
      <ul class="site-nav__list">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "楽曲一覧", "#" %></li>
        <li><%= link_to "プレイリスト", "#" %></li>
        <li><%= link_to "ログイン", "#" %></li>
      </ul>
    </nav>
  </div>
</header>